body {
    margin: 20px 100px;
} 


/* header-start  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #4B5563;
}

.img-logo {
    width: 46px;
    height: 46px;
    margin-right: 8px;
}

#logo-text {
    font-size: 34px;
    font-family: outfit;
    color: #000B6D;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap:40px;
}

.navbar li a {
    font-family: poppins;
    text-decoration: none;
    color: #1F2937;
    font-weight: 500;
}

.navbar li a:hover {
    text-decoration: underline #5F6FFF 2px;
    text-underline-offset: 8px;
}

.create-acc-btn {
    align-items: ceneter;
    font-size: 18px;
    font-family: outfit;
    width: 195px;
    height: 54px;
    border: none;
    border-radius: 47px;
    background-color: #5F6FFF;
    color: white;
    cursor: pointer;
}

.create-acc-btn:hover{
    background-color: white;
    color: #5F6FFF;
    border: 2px solid #5F6FFF;
} 

/* header close */


/* #line {
    width: 100%;
    height: 1px;
    background-color: #ADADAD;
} */


/* main start  */

/* first section  */
.book-appointment {
    margin-top: 26px;
    border: none;
    border-radius: 12px;
    height: 550px;
    background-color: #5F6FFF;
    display: flex;
    align-items: center;
    position: relative;
}

.appointment-text {
    width: 50%;
    height: 100%;
    padding-left: 50px;
    padding-top: 180px;

}

.appointment-heading {
    font-family: outfit;
    font-size: 63px;
    color: #ffffff;
    margin-bottom: 5px;
    font-weight:550;
}

.group-doc {
    display: flex;
    align-items: center;
}

.group-img {
    width: 130px;
    height: 56px;
    margin-right: 14px;
}


.appointment-sub {
    font-family: outfit;
    font-weight: 400;
    font-size: 18px;
    color: white;
}


.btn-book {
    margin-top: 15px;
    padding: 15px 45px;
    border: none;
    border-radius: 47px;
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
    color: #595959;
    background-color: white;
}

.btn-book:hover{
    background-color: rgba(255, 255, 255, 0.63);
    
}



#img-header {
    width: 50%;
    height: 100%;
    position: relative;
    bottom: 0;
    right: 0;
}

#img-header img {
    width:100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* first sectione end  */


/* second section  */
#section-2{
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.sp-article-1 {
    margin-top: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}  


.H {
    font-family: outfit;
    font-size: 40px;
    font-weight: 500;
    color: #1F2937;
    margin-bottom: 4px;
    text-align: center;
}

.P {
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
    color: #4B5563;
    max-width: 500px;
    margin-top: 5px;
    text-align: center;
}


.speciality-doctors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 5px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.sp-doctor{
    width: 120px;
    margin: 0px ;
}
.sp-doctor img{
    width: 100px;
}

.doctor-name{
    font-family: outfit ;
    font-size: 15px;
}



#section-3{
    text-align: center;
}

.c{
    margin-top:0px;
}
.top-dc{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25px;
    margin-top: 25px;
}


.dc{
    border: 3px solid #c8cfeb;
    border-radius: 10px;
    width: 300px;
}
.dc img{
    width: 280px;
    background-color: #EAEFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dc-details{
    padding:15px;
    text-align: start;
    font-size: 20px;
    font-family: outfit ;
}
.avail{
    color: green;
    font-size:16px;
}
.dc-name{
    margin-top: 3px;
    margin-bottom: 0;
}
.dc-cat{
    margin-top: 5px;
    font-size: 14px;
    color: #4B5563;
}

.btn-more{
    padding: 15px 45px;
    margin-top: 70px;
    border: none;
    border-radius: 25px;
    background-color: #EAEFFF;
    color: #635563;
    font-size: 15px;
    font-family: outfit;
    margin-bottom: 0px;
}

#img-header .base-img{
    height: 600px;
    width: auto;
    padding-right: 50px;
}


/* main close  */

/* footer  */


.footer{
    margin-top: 85px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
    font-family: outfit;
    padding: 40px;
    padding-bottom: 0px;
    border-bottom:1px solid grey;

}
.footer-head{
    color: #4B5563;
    font-size: 25px;
}

.footer-head p{
    color: #4B5563;
}

.company a{
    text-decoration: none;
    color: #595959;
}

.copy{
    text-align: center;
    font-family: outfit;
}